body > #root > div {
    height: 100vh;
  }
  
  .appbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
    height: 10vh;
    width: inherit;
    position: sticky;
    background-color: coral;
    top: 0;
    width: 100%;
  }
  
  .appbar a{
    margin-right: 5rem;
    text-decoration: none;
    color: white;
  }
  
  .appbar #voltar{
    margin-right: auto;
    margin-left: 3rem;
    border: 0.1rem solid black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  .container-sch{
    display: flex;
    flex-direction: column;
  }

  .container-sch h1{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .container-sch h2{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: unset;
  }

  .container-sch h3{
    margin-left: 10rem;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: auto;
  }

  .container-sch h4{
    margin-left: 10rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: unset;
  }

  .container-sch p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    align-self: center;
    max-width: 40rem;
  }

  .job{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-bottom: 0.01rem outset #050505;
    flex-wrap: wrap;
  }

  .data{
    background-color: #f5f5f5;
    height: 100%;
  }